/*PARTIE IDENTITÉ*/

/*LE FORMULAIRE*/
#one
{
  background-color: #2574a9 ;


}

/*TITRE 1*/
 #titre1
{
margin-top: 10px;
background-color: #2574a9 ;
}

/*PARTIE LIVRAISON*/

/*LE FORMULAIRE*/
#two
{
  background-color:  #9a12b3;

}

/*TITRE 2*/
#titre2
{
margin-left:  20px;
background-color:  #9a12b3;
}

/*PARTIE INFO*/

/*LE FORMULAIRE*/
#three
{
  background-color:  #db0a5b;

}

/*TITRE 3*/
 #titre3
{
margin-left:  20px;
background-color:  #db0a5b;
}
